.box {
    padding: 0 25px;

    &-inner {
        background-color: @color-white;
    }

    &-header {
        padding: 15px;
        #font > .bold;
        font-size: 34px;
        line-height: 34px;
    }

    &-img {

    }

    &-content {
        padding: 15px;
    }
}