.footer {
    color: @color-primary;
    padding-top: 115px;
    #font > .medium;

    a {
        font-size: 16px;
        color: @color-primary;
        #font > .medium;
    }

    .logo {
        width: 292px;
        height: 60px;
    }

    &-link-list {
        margin-top: 20px;

        li {
            margin-bottom: 5px;
        }
    }

    &-form {
        border-bottom: solid 1px @color-primary;
        padding-bottom: 10px;
    }

    &-blah {
        padding: 15px;
        margin-top: 180px;
        color: @color-white;
        #font > .light;
        font-size: 14px;

        a {
            color: @color-white;
            #font > .light;
            font-size: 14px;
            text-decoration: underline;

            &:hover, &:active, &:focus {
                opacity: 0.7;
            }
        }

        @media @screen-tablet {
            padding: 35px 30px;
        }
    }

    &-launch {
        color: @color-primary;
        font-size: 32px;
        #font > .medium;
        margin-top: 12px;
        margin-bottom: 110px;
    }

    .btn-link {
        width: 20%;
        display: block;
        line-height: 65px;
        #font > .bold;
    }
}