.logo {
    background: transparent url(@logo) no-repeat center center;
    width: 260px;
    height: 53px;
    display: inline-block;
    transition: all 0.3s;

    &:hover {
        opacity: 0.8;
    }
}