.logo {
    background: transparent url(@logo) no-repeat center center;
    display: inline-block;
    transition: all 0.3s;
    background-size: 100%;

    &:hover {
        opacity: 0.8;
    }

    &-rev {
        background-image: url(@logo-rev);
    }
}