.overview {
    padding-top: 80px;
    padding-bottom: 320px;
}

.whatis {
    padding-bottom: 80px;

    p {
        text-align: center;

        @media @screen-tablet {
            text-align: left;
        }
    }

    &-img {
        margin-top: -430px;
        position: relative;
        margin-bottom: 50px;
    }
}

.how {
    padding: 60px 0 120px 0;
    background-image: url(@how-bg);
    background-size: 1642px 830px;
    background-position: center 120px;
    background-repeat: no-repeat;
}

.features {

    h2, p {
        text-align: center;

        @media @screen-tablet {
            text-align: left;
        }
    }
}