.overview {
    padding-top: 80px;
    padding-bottom: 350px;
}

.whatis {
    padding-bottom: 80px;

    &-img {
        margin-top: -430px;
        position: relative;
        margin-bottom: 50px;
    }
}