---
title: Planar Network
description: An open marketplace for multi-modal journeys across any number of transport operators. Lower fees, faster settlement and a better retail experience.
layout: default
fullfooter: true
---

<div class="container-wide">
    {% include header.html %}

    <main>
        {% include hero.html %}

        <section id="overview" class="overview">
            <div class="container">
                <div class="row">
                    <div class="col-lg-16 offset-lg-4">
                        <h2 class="center underline underline-tertiary">Global travel is broken...</h2>
                        <p class="center">
                          Most end to end journeys involve multiple modes of transport across multiple operators, but most retailers only sell tickets for a single mode of transport in a single area. This means the passenger has to go to many retailers and purchase multiple tickets in separate transactions. By making it easy for retailers to earn the trust required to sell an operator's tickets we can make this problem a thing of the past.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="whatis" class="whatis bg-primary curve-flip">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 offset-lg-6">
                        <img class="whatis-img img-responsive center-block" src="assets/img/security.png" alt="Security image" />
                    </div>
                    <div class="col-lg-24">
                        <h2 class="center rev underline underline-secondary">What is Planar Network?</h2>
                    </div>
                    <div class="col-lg-10 offset-lg-1">
                        <p class="rev">The Planar Network is an open marketplace of travel tickets where operators can upload their fares and allow any retailer to sell them without worrying that the tickets will be issued correctly.</p>
                    </div>
                    <div class="col-lg-10 offset-lg-2">
                        <p class="rev">Using a trustless network built on the blockchain, retailers can sell tickets for any operator on the network without having to know the in's and out's of every ticket format of that operator.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="how" class="how">
            <div class="container-wide">
                <h2 class="center underline underline-tertiary">How does it work?</h2>
                <div class="carousel">
                    <ul class="list-unstyled slick">
                        <li class="slide">
                            <div class="box box-intro">
                                <h3 class="box-intro-header">See the process flow</h3>
                                <p class="box-intro-text">How our customers and operators interact with the Planar Network, step-by-step</p>
                            </div>
                        </li>
                        <li class="slide">
                            <div class="box">
                                <div class="box-inner">
                                    <h3 class="box-header">1</h3>
                                    <div class="box-img-container bg-primary">
                                        <img class="box-img box-img-1" src="assets/img/box-1.svg">
                                    </div>
                                    <p class="box-content">Operators upload their fares to the blockchain</p>
                                </div>
                            </div>
                        </li>
                        <li class="slide">
                            <div class="box">
                                <div class="box-inner">
                                    <h3 class="box-header">2</h3>
                                    <div class="box-img-container bg-primary">
                                        <img class="box-img box-img-2" src="assets/img/box-2.svg">
                                    </div>
                                    <p class="box-content">Retailers sell one or more fares through a smart contract</p>
                                </div>
                            </div>
                        </li>
                        <li class="slide">
                            <div class="box">
                                <div class="box-inner">
                                    <h3 class="box-header">3</h3>
                                    <div class="box-img-container bg-primary">
                                        <img class="box-img box-img-3" src="assets/img/box-3.svg">
                                    </div>
                                    <p class="box-content">The passenger’s tickets are stored on the blockchain</p>
                                </div>
                            </div>
                        </li>
                        <li class="slide">
                            <div class="box">
                                <div class="box-inner">
                                    <h3 class="box-header">4</h3>
                                    <div class="box-img-container bg-primary">
                                        <img class="box-img box-img-4" src="assets/img/box-4.svg">
                                    </div>
                                    <p class="box-content">The passenger executes a collection contract to turn their ticket into the native format of the operator</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="center-block slick-feature-buttons"></div>
                </div>
            </div>
        </section>

        <section id="features" class="features bg-primary curve-flip">
            <img class="features-img features-img-1" src="assets/img/features1.png" alt="Integrated multi-modal transport" />
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1 features-1">
                        <h2 class="rev underline underline-secondary">Integrated multi-modal transport</h2>

                        <p class="rev">For the first time, Planar now allows passengers and operators the ability to purchase travel tickets from multiple transport operators in a single transaction and store them in an on-chain, portable ticket wallet.</p>

                        <p class="rev">This can be multiple modes of transport or operators across the same network. Both retailers and passengers are now in more control of travel.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10 offset-lg-13 features-2">
                        <h2 class="rev underline underline-secondary">Supporting native ticket formats</h2>

                        <p class="rev">The ability to convert tickets stored on the blockchain into native ticket formats of the transport operators. No infrastructure changes are required, passengers travel over each operator’s network using the tickets they already accept.</p>

                        <p class="rev">Planar's blockchain remains invisible to the customer, whilst allowing a multitude of end-user benefits. The customer can now enjoy seamless ticket integration with their devices throughout their travel.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10 offset-lg-1 features-3">
                        <h2 class="rev underline underline-secondary">Faster distributed financial settlement</h2>

                        <p class="rev">The ability to instantly settle transactions involving multiple transport operators. Financial incentives built in for ticket retailers.</p>
                    </div>
                </div>
            </div>
            <img class="features-img features-img-2" src="assets/img/features2.png" alt="Fast distributed financial settlement" />
        </section>
    </main>

    {% include footer.html %}
</div>

    