<section class="articles">
  <div class="container">
    <div class="row">
      <div class="col-lg-16 offset-lg-4 col-xl-14 offset-xl-5">
        <ul class="article-list list-unstyled">
          {% for post in site.posts %}
            <li class="article-list__item">
              <article class="article" itemscope="itemscope" itemtype="http://schema.org/Article">
                <header>
                  <h2 class="article-list__title">
                    <a class="article-list__url" href="{{post.url}}">{{post.title}}</a>
                  </h2>
                </header>
                <time class="article-list__time" itemprop="dateCreated" datetime="{{ post.date | date: '%Y-%m-%d' }}">
                  {{ post.date | date: '%d %B %Y' }}
                </time>
                <div class="article-list__short" itemprop="description">
                  {{ post.description }}
                </div>
                <a class="btn btn-primary btn-mini" href="{{post.url}}">View post</a>
              </article>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
