<div class="footer-links-container">
    <div class="footer-logo-container">
        <div class="container">
            <div class="row">
                <div class="col-md-24">
                    <a class="logo logo-footer" href="/" title="Planar Network">
                        <span class="sr-only">Planar Network</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-5 offset-lg-1">
               <ul class="list-unstyled footer-link-list">
                    <li>
                        <a href="https://www.github.com/planarnetwork" target="blank">GitHub</a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/planarnetwork" target="blank">Twitter</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 col-lg-5 col-lg-5">
                <ul class="list-unstyled footer-link-list">
                    <li>
                        <a href="/resources/whitepaper.pdf" target="blank">Whitepaper</a>
                    </li>
                    <li>
                        <a href="mailto:info@planar.network">info@planar.network</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-24 col-lg-10 offset-lg-2">
                <div class="footer-form-container">
                    <form class="footer-form clearfix" id="signup" action="https://hza79hmuib.execute-api.eu-west-1.amazonaws.com/prod/contact" method="post">
                        <span class="input float-left">
                            <label class="input-label" for="email">Your email address</label>
                            <input class="input-field" type="email" id="email" name="email" />
                        </span>
                        <button class="btn btn-link btn-footer float-left" type="submit">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>