<section class="projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-16 offset-lg-4 col-xl-14 offset-xl-5">
        <ul class="blog-list list-unstyled">
          {% for project in site.projects %}
            <li class="blog-list__item underline">
              <article class="article" itemscope="itemscope" itemtype="http://schema.org/Article">
                <header>
                  <h2 class="blog-list__title">
                    <a class="blog-list__url" href="{{project.url}}">{{project.title}}</a>
                  </h2>
                </header>
                <div class="blog-list__short" itemprop="description">
                  {{ project.description }}
                </div>
                <a class="btn btn-primary" href="{{project.url}}">View post</a>
              </article>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>