body {
    width: 100%;
    height: 100%;
    font-family: $font-type;
    color: $color-font;
    background: $bg-color-1;
    font-size: 16px;
    line-height: 30px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-header;
    line-height: 1.2;
    color: $color-primary;
    font-weight: normal;

    &.rev {
        color: $color-white;
    }
}

h1 {
    font-size: 28px;

    @media ($screen-tablet) {
        font-size: 40px;
    }
}

h2 {
    font-size: 24px;

    @media ($screen-tablet) {
        font-size: 37px;
    }
}

p {
    color: $color-font;
    margin: 0 0 30px 0;

    &.rev {
        color: $color-white;
    }
}

a {
    transition: all 0.3s;
    text-decoration: none;
}

.container-wide {
    max-width: 1920px;
    margin: 0 auto;
}