.blog {
    &-list {
        text-align: center;

        @media ($screen-laptop) {
            text-align: left;
        }

        &__item {
            margin-bottom: 40px;

            @media ($screen-tablet) {
                margin-bottom: 80px;
            }

            &:after {
                content: "";
                display: block;
                margin: 40px auto 0 auto;
                width: 45px;
                height: 3px;
                background-color: $color-tertiary;

                @media ($screen-tablet) {
                    margin: 80px 0 0 0;
                }
            }

            &:last-child:after {
                display: none;
            }
        }

        &__title {
            margin-bottom: 5px;
        }

        &__time {
            font-style: italic;
            margin-bottom: 5px;
            display: block;

            @media ($screen-tablet) {
                margin-bottom: 15px;
            }
        }

        &__short {
            margin-bottom: 15px;

            @media ($screen-tablet) {
                margin-bottom: 25px;
            }
        }

        &__url {
            color: $color-primary;

            &:hover, &:focus, &:active {
                color: $color-tertiary;
                text-decoration: none;
            }
        }
    }
}