.footer {
    color: $color-primary;
    @include get-font(Medium);

    a {
        font-size: 16px;
        color: $color-primary;
        @include get-font(Medium);
    }

    &-logo-container {
        padding-top: 30px;

        @media ($screen-smalltablet-max) {
            padding-bottom: 30px;
            background-color: $color-white;
            margin-bottom: 20px;
        }

        @media ($screen-tablet) {
            padding-top: 0;
        }
    }

    .logo {
        width: 58px;
        height: 67px;
        margin: 0 auto;
        display: block;

        @media ($screen-tablet) {
            margin-bottom: 35px;
            width: 292px;
            height: 80px;
        }

        @media ($screen-laptop) {
            margin-bottom: 80px;
        }
    }

    &-link-list {
        margin-top: 0;
        text-align: center;

        @media ($screen-tablet) {
            margin-top: 20px;
            text-align: left;
        }

        li {
            margin-bottom: 5px;
        }
    }

    &-form {
        border-bottom: solid 1px $color-primary;
        padding-bottom: 10px;
        margin-top: 25px;

        &-response {
            border-bottom: none;
        }

        &-thanks {
            text-align: center;
            color: $color-primary;
            font-size: 26px;
            line-height: 26px;
            padding-top: 12px;
            margin-bottom: 2px;

            @media ($screen-tablet) {
                text-align: left;
            }
        }

        @media ($screen-laptop) {
            margin-top: 0;
        }

        &-container {
            @media ($screen-smalltablet-max) {
                background-color: $color-white;
                padding: 5px 15px 40px 15px;
                margin: 0 -10px;
            }

            @media ($screen-smalltablet) {
                margin: 0;
                background-color: transparent;
            }
        }
    }

    &-links-container {
        @media ($screen-tablet) {
            margin-bottom: 100px;
            padding-top: 80px;
        }

        @media ($screen-laptop) {
            padding-top: 115px;
            margin-bottom: 170px;
        }
    }

    &-blah {
        padding: 15px;
        color: $color-white;
        @include get-font(Light);
        font-size: 14px;

        a {
            color: $color-white;
            @include get-font(Light);
            font-size: 14px;
            text-decoration: underline;

            &:hover, &:active, &:focus {
                opacity: 0.7;
            }
        }

        @media ($screen-laptop) {
            padding: 35px 30px;
        }
    }

    .btn-link {
        width: 20%;
        display: block;
        line-height: 63px;
        @include get-font(Bold);
    }
}