// fonts
$font-header:       "Geomanist-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-type:         "Geomanist-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;

// colors
$color-white:       #ffffff; // white
$color-black:       #000000; // black
$color-font:        #555555; // font
$color-primary:     #411b8a; // purple
$color-secondary:   #01ffed; // cyan
$color-tertiary:    #8d33aa; // mauve

// backgrounds
$bg-color-1:        #f3f3f3; // off white
$bg-color-2:        $color-primary;
$bg-color-3:        $color-secondary;

// images
$logo:              "../img/planar-network-logo.svg";
$logo-rev:          "../img/planar-network-logo-rev.svg";
$logo-rev-mini:     "../img/planar-network-logo-rev-mini.svg";
$curve:             "../img/curve.svg";
$grid:              "../img/grid.png";
$how-bg:            "../img/how-bg.png";
$line-left:         "../img/line-left.png";
$arrow:             "../img/arrow.svg";
$arrow-rev:         "../img/arrow-rev.svg";

// viewports
$min-default: 320px;
$min-phone: 480px;
$min-smalltablet: 600px;
$min-tablet: 768px;
$min-laptop: 992px;
$min-desktop: 1200px;
$min-hd: 1480px;
$max-default: $min-phone - 1;
$max-phone: $min-smalltablet - 1;
$max-smalltablet: $min-tablet - 1;
$max-tablet: $min-laptop - 1;
$max-laptop: $min-desktop - 1;

$screen-default: unquote("max-width: #{$min-default}");
$screen-default-max: unquote("max-width: #{$max-default}");
$screen-phone: unquote("min-width: #{$min-phone}");
$screen-smalltablet: unquote("min-width: #{$min-smalltablet}");
$screen-smalltablet-max: unquote("max-width: #{$max-smalltablet}");
$screen-tablet: unquote("min-width: #{$min-tablet}");
$screen-tablet-max: unquote("max-width: #{$max-tablet}");
$screen-laptop: unquote("min-width: #{$min-laptop}");
$screen-desktop: unquote("min-width: #{$min-desktop}");
$screen-desktop-lg: unquote("min-width: #{$min-hd}");







