.header {
    background-color: $color-primary;
    padding: 15px;

    .logo {
        width: 260px;
        height: 54px;
        max-width: 80%;
    }

    @media ($screen-tablet) {
        padding: 35px 30px 0 30px;
    }
}